In [1]:
import pandas as pd

## Load the raw dataset

In [2]:
df = pd.read_csv("sales_data_raw.csv")

In [4]:
df.head(10)

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04-Jan-22,"$5,320",180
1,Van Tuxwell,India,85% Dark Bars,01-Aug-22,"$7,896",94
2,Gigi Bohling,India,Peanut Butter Cubes,07-Jul-22,"$4,501",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27-Apr-22,"$12,726",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24-Feb-22,"$13,685",184
5,Van Tuxwell,India,Smooth Sliky Salty,06-Jun-22,"$5,376",38
6,Oby Sorrel,UK,99% Dark & Pure,25-Jan-22,"$13,685",176
7,Gunar Cockshoot,Australia,After Nines,24-Mar-22,"$3,080",73
8,Jehu Rudeforth,New Zealand,50% Dark Bites,20-Apr-22,"$3,990",59
9,Brien Boise,Australia,99% Dark & Pure,04-Jul-22,"$2,835",102

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   1094 non-null   object
 1   Country        1094 non-null   object
 2   Product        1094 non-null   object
 3   Date           1094 non-null   object
 4   Amount         1094 non-null   object
 5   Boxes Shipped  1094 non-null   int64
dtypes: int64(1), object(5)
memory usage: 51.4+ KB

## Display basic info

In [6]:
print("Original Data Info:")
print(df.info())
print("\nMissing values:\n", df.isnull().sum())

Original Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   1094 non-null   object
 1   Country        1094 non-null   object
 2   Product        1094 non-null   object
 3   Date           1094 non-null   object
 4   Amount         1094 non-null   object
 5   Boxes Shipped  1094 non-null   int64
dtypes: int64(1), object(5)
memory usage: 51.4+ KB
None

Missing values:
 Sales Person     0
Country          0
Product          0
Date             0
Amount           0
Boxes Shipped    0
dtype: int64

## Remove duplicates

In [7]:
df.drop_duplicates(inplace=True)

## Convert Date column to datetime

In [8]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce', dayfirst=True)  # Modify if mm/dd/yyyy

C:\Users\ahmed\AppData\Local\Temp\ipykernel_1440\590873801.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce', dayfirst=True)  # Modify if mm/dd/yyyy

In [9]:
df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,2022-01-04,"$5,320",180
1,Van Tuxwell,India,85% Dark Bars,2022-08-01,"$7,896",94
2,Gigi Bohling,India,Peanut Butter Cubes,2022-07-07,"$4,501",91
3,Jan Morforth,Australia,Peanut Butter Cubes,2022-04-27,"$12,726",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,2022-02-24,"$13,685",184

## Fix data types

In [11]:
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')
df['Boxes Shipped'] = pd.to_numeric(df['Boxes Shipped'], errors='coerce')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   1094 non-null   object
 1   Country        1094 non-null   object
 2   Product        1094 non-null   object
 3   Date           1094 non-null   datetime64[ns]
 4   Amount         0 non-null      float64
 5   Boxes Shipped  1094 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 51.4+ KB

## Save cleaned data

In [14]:
df.to_csv("cleaned_sales_data.csv", index=False)

## Objective:

### To clean and prepare a raw sales dataset for further analysis by handling missing values, fixing inconsistent formats, correcting data types, and ensuring data integrity.

## Dataset Columns:

Sales Person

Country

Product

Date

Amount

Boxes Shipped

## Cleaning Steps Performed:

Loaded Dataset using pandas and displayed basic information.

Removed Duplicate Records using .drop_duplicates() to avoid redundancy.

Handled Missing Values by dropping rows with nulls using .dropna().

Converted Date Formats to proper datetime format using pd.to_datetime().

Saved the Cleaned Dataset to cleaned_sales_data.csv for future use.

 ### Output File:
cleaned_sales_data.csv